<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstprototype">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstPrototype">
        <activity
            android:name=".Feed"
            android:exported="false" />
        <activity
            android:name=".cslide"
            android:exported="false" />
        <activity
            android:name=".levels"
            android:exported="false" />
        <activity
            android:name=".profil"
            android:exported="false" />
        <activity
            android:name=".User.forgotPassword"
            android:exported="false" />
        <activity
            android:name=".animation.splashs"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pyslide"
            android:exported="false" />

        <activity
            android:name=".lists.list7"
            android:exported="false" />
        <activity
            android:name=".lists.list6"
            android:exported="false" />
        <activity
            android:name=".lists.list5"
            android:exported="false" />
        <activity
            android:name=".lists.list4"
            android:exported="false" />
        <activity
            android:name=".lists.list3"
            android:exported="false" />
        <activity
            android:name=".lists.list2"
            android:exported="false" />
        <activity
            android:name=".lists.list1"
            android:exported="false" />
        <activity
            android:name=".choose_1"
            android:exported="false" />
        <activity
            android:name=".lessons.lessons_c3"
            android:exported="false" />
        <activity
            android:name=".lessons.lessons_c2"
            android:exported="false" />
        <activity
            android:name=".pdf.pdfActivity_1"
            android:exported="false" />
        <activity
            android:name=".lessons.lessons_c1"
            android:exported="false" />
        <activity
            android:name=".home"
            android:exported="false" />
        <activity
            android:name=".User.Fm"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity android:name=".create_post" />
        <activity
            android:name=".choose.Categories"
            android:exported="false" />
        <activity
            android:name=".User.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>